@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', system-ui, sans-serif;
    background-color: #F2F4F7;
  }
}

@layer components {
  .gradient-text {
    background: linear-gradient(90deg, #080114 0%, #290967 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}


/* login Screen */
@media (min-width: 1500px) {
.login-wrap {max-width: 70% !Important;max-height: 75vh;}
.wel-txt .main { font-size: 3rem;}
.wel-txt .sub {font-size: 5rem;}
.wel-txt .desc {font-size: 1.5rem;}
.foo p {font-size: 1rem;}
}
@media (max-width: 1024px) {
  .login-wrap {
    max-width: 85% !Important;max-height: 75vh;
  }
}